{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>


<p>
    {{ advert.title }} <br>
    {{ advert.content }} <br>
    {{ advert.author }} <br>

</p>
</body>
</html>