{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
    <h1>{{ advert.author }}</h1>
    <h1>{{ advert.content }}</h1>
    <h1>{{ advert.image.url }}</h1>
    <h1>{{ advert.image.alt }}</h1>

</body>
</html>